<%= form_for travel_data do |t| %>
  <div class="text-center">
    <%= t.label :start_route, class: 'label' %>
      <%= t.select :start_route, Travel::START_ROUTE, class: 'input' %>
  </div><br />

  <div class="text-center">
    <%= t.label :end_route, class: 'label' %>
    <%= t.select :end_route, Travel::END_ROUTE, class: 'input' %>
  </div><br />

  <div class="text-center">
    <%= t.label :timeslot, class: 'label' %>
      <%= t.select :timeslot, Travel::TIMESLOT, class: 'input' %>
  </div><br />

  <div class="text-center">
    <%= t.label :mrt_line, class: 'label' %>
      <%= t.select :mrt_line, Travel::MRTLINE, class: 'input' %>

  </div>
  <br />

  <div class="field">
    <p class="control">
      <%= t.submit 'Submit', {class: "btn btn-danger"} %>
    </p>
  </div>

<% end %>
