<%= form_for travel_data do |t| %>
  <div class="field">
    Start Route:
    <%= t.label :start_route, class: 'label' %>
    <p class="control">
      <%= t.select :start_route, Travel::START_ROUTE, class: 'input' %>
    </p>
  </div>

  <div class="field">
    End Route:
    <%= t.label :end_route, class: 'label' %>
    <p class="control">
    <%= t.select :end_route, Travel::END_ROUTE, class: 'input' %>
    </p>
  </div>

  <div class="field">
    Timeslot:
    <%= t.label :timeslot, class: 'label' %>
    <p class="control">
      <%= t.select :timeslot, Travel::TIMESLOT, class: 'input' %>
    </p>
  </div>

  <div class="field">
    MRT Line:
    <%= t.label :mrt_line, class: 'label' %>
    <p class="control">
      <%= t.select :mrt_line, Travel::MRTLINE, class: 'input' %>
    </p>
  </div>

  <div class="field">
    <p class="control">
      <%= t.submit 'Submit', class: 'button is-primary' %>
    </p>
  </div>

<% end %>
