<%= render "partials/nav/travels_index_nav"%>

<!-- added div container -->
<div class="travel-container">

  <section id="all-travel" class="section">

    <div class="container">
      <%= link_to "New Route", new_travel_path, class: "button is-warning" %>

      <div class="columns">
        <% @all_travels.each do |travel| %>

        <div class="column">

          <p class="notification is-info">

            Start Route: <%= travel.start_route%><br>
            End Route: <%= travel.end_route %><br>
            Timeslot: <%= travel.timeslot %><br>
            MRT Line: <%= travel.mrt_line %><br>

              <%= link_to "View Route", travel_path(travel.id), class: "button is-primary" %><br /><br />

              <%= link_to "Edit Route", edit_travel_path(travel.id), class: "button is-primary" %><br /><br />

              <%= link_to "Delete Route",  travel_path(travel.id), method: :delete , class: "button is-primary" %><br /><br />

          </p>

        </div>

        <% end %>
      </div>

    </div>

  </section>

</div>
