<%= render "partials/nav/matches_nav"%>

<h1>Matches!!!!!!!!</h1>

<div class="matches-container">
  <% current_user.interesteds.each do |relation| %>
  <%= relation.first_name %>
  <%= form_for :conversation, url: conversations_path do |f| %>
    <%= f.hidden_field :recipient, value: relation.id %>
    <%= f.submit 'Chat'%>
    <%= link_to "Delete Chat", relationship_path(relation.id), class: "btn btn-warning", remote: true, method: :delete %>
  <% end %>
  <% end %>

  <% current_user.interestlist.each do |relation| %>
  <%= relation.first_name %>
  <%= form_for :conversation, url: conversations_path do |f| %>
    <%= f.hidden_field :recipient, value: relation.id %>
    <%= f.submit 'Chat'%>
    <%= link_to "Delete Chat", relationship_path(relation.id), class: "btn btn-warning", remote: true, method: :delete %>

  <% end %>
  <% end %>
</div>
