<%= render "partials/nav/matches_nav"%>

<h1>Matches!</h1>

<div class="matches-container">
  <% current_user.interesteds.each do |relation| %>
  <b><h2><%= relation.first_name %></h2></b>
  <%= form_for :conversation, url: conversations_path do |f| %>
    <%= f.hidden_field :recipient, value: relation.id %>
    <%= f.submit 'Chat', class: "btn btn-success"%>
    <%= link_to "Delete Chat", relationship_path(relation.id), class: "btn btn-warning", remote: true, method: :delete %>
  <% end %>
  <% end %>

  <% current_user.interestlist.each do |relation| %>
  <b><h2><%= relation.first_name %></h2></b>
  <%= form_for :conversation, url: conversations_path do |f| %>
    <%= f.hidden_field :recipient, value: relation.id %>
    <%= f.submit 'Chat', class: "btn btn-success"%>
    <%= link_to "Delete Chat", relationship_path(relation.id), class: "btn btn-warning", remote: true, method: :delete %>

  <% end %>
  <% end %>
</div>







<!-- former code -->

<!-- <div id="modalShareBody" class="modal-body">
  <div class="panel" id="panelGuest"  >
    The div where i want the y-scrollbar
    <div class="row"> -->
      <!-- <div class="matches-container">
        <% current_user.interesteds.each do |relation| %>
        <%= relation.first_name %>
        <%= form_for :conversation, url: conversations_path do |f| %>
          <%= f.hidden_field :recipient, value: relation.id %>
          <%= f.submit 'Chat'%>
        <% end %>
        <% end %>

        <% current_user.interestlist.each do |relation| %>
        <%= relation.first_name %>
        <%= form_for :conversation, url: conversations_path do |f| %>
          <%= f.hidden_field :recipient, value: relation.id %>
          <%= f.submit 'Chat'%>
        <% end %>
        <% end %>
      </div>
    </div>

  </div> -->
  <!-- <div id="panelDetail" class="panel">
  here the chat going to be</div>
</div> -->
