<%= render "partials/nav/home_nav"%>

  <div class="container text-center">
    <div class="wrapper wow">
      <h2 class="top-title">Welcome To</h2>
      <h5 class="title">Commuter</h5>
      <h6 class="top-title">Re-Energise Your</h6>
      <h6 class="top-title">Daily Commute</h6>
    </div>
  </div>
<!-- === -->
<section id="cta-1">
<div class="container">
  <div class="row">
    <div class="cta-info text-center">
      <h2>
        <i>Kiss goodbye to
          <b>boring</b>
          and
          <b>unproductive</b>
          daily commutes.<br />
          Let us
          <b>match you</b>
          with your perfect
          <b>commuter buddy.</b>

        </i>
      </h2>
    </div>
  </div>
</div>
</section>
<!-- === -->
<!-- === -->
<section id="feature" class="section-padding">
<div class="container">
  <div class="row about-row">
    <div class="col-md-3 about-col">
      <div class="section-title">
        <h2 class="head-title">About
        </h2>
        <hr class="botm-line">
        <p class="sec-para">
          How much time do you spend commuting to work or school on a daily basis? Do you feel that your time could be put to better use during your commute? At Commuter, we thought so too! Your precious time could be put to great use, whether its learning a new skill, language or getting a proof of concept.<br />
          <br />
          <b>Your mundane daily commute will never be the same again.</b> Commuter is a platform where you can find other like-minded people who are travelling on the same route as you. This provides the opportunity for a 30min crash course on bird watching or a language buddy to sharpen your French skills. The choice is yours.</p>

      </div>
    </div>
    <!-- === -->
    <div class="col-md-9 steps-row">
      <!-- === -->
      <div class="col-md-4 steps-col">
        <div class="icon">
          <i class="fa fa-pencil"></i>
        </div>
        <div class="icon-text">
          <h3 class="txt-tl">First: Create Your Profile</h3>
          <p class="txt-para">Let everyone know what you are looking for in your commuter buddy and what you can offer. The more details you add in your personal description, the more effective your matches will be.</p>
          <p class="txt-para">Add your various interests to your profile, so that other commuters can search for you as their potential commuter buddy. Include a profile picture and also details on your daily commute.</p>
        </div>
      </div>
      <!-- === -->
      <div class="col-md-4 steps-col">
        <div class="icon">
          <i class="fa fa-compress"></i>
        </div>
        <div class="icon-text">
          <h3 class="txt-tl">Next: Find a Match</h3>
          <p class="txt-para">Browse through potential commuter buddies on our <%= link_to "view commuters", commuters_path %> page and connect with fellow commuters by letting them know you are interested in sharing your commute with them.</p>
          <p class="txt-para">You can also use the chat functionality to organise the finer details of any journey sharing experience.</p>
        </div>
      </div>
      <!-- === -->
      <div class="col-md-4 steps-col">
        <div class="icon">
          <i class="fa fa-map-marker"></i>
        </div>
        <div class="icon-text">
          <h3 class="txt-tl">Finally: Enjoy!</h3>
          <p class="txt-para">Re-energise your commute: Meet your commuter buddy and have a good time.</p>
        </div>
      </div>
      <!-- === -->
    </div>
  </div>
</div>
</section>
<!---->
<section class="section-padding parallax bg-image-2 section wow" id="cta-2">
</section>
<!---->
<!-- Team Section -->
<section id="team-section" class="bg-light-gray">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="section-heading"><b>Commuter Team</b></h1>
    </div>
  </div>
  <div class="row team-row">
    <!-- Maria -->
    <div class="col-sm-3 team-col">
      <div class="team-member">
        <%= image_tag("maria.png", class: "img-responsive img-circle", alt: "no image")  %>
        <h4>Maria Wilson</h4>
        <p class="text-muted">Team Leader</p>
      </div>
    </div>
    <!-- Robin -->
    <div class="col-sm-3 team-col">
      <div class="team-member">
        <%= image_tag("robin.png", class: "img-responsive img-circle", alt: "no image")  %>
        <h4>Robin Chua</h4>
        <p class="text-muted">Git & Chat Master</p>
      </div>
    </div>
    <!-- Arif -->
    <div class="col-sm-3 team-col">
      <div class="team-member">
        <%= image_tag("arif.jpg", class: "img-responsive img-circle", alt: "no image")  %>
        <h4>Arif Rahman</h4>
        <p class="text-muted">Lead Designer</p>
      </div>
    </div>
    <!-- felix -->
    <div class="col-sm-3 team-col">
      <div class="team-member">
        <%= image_tag("felix.JPG", class: "img-responsive img-circle", alt: "no image")  %>
        <h4>Felix Tan</h4>
        <p class="text-muted">Rails Master</p>
      </div>
    </div>
    <!-- name end -->
  </div>
</section>

</div>
</div>
</div>
</section>
</div>
<!---->
