<%= render "partials/nav/views_commuters_nav"%>


<div class="filter_options_container">
  <br><br>

<!-- search bar -->
<div class="views-container" id="search-container">

  <div class="row">
    <form class="filter_form" , method="get">
      <fieldset>
        <!-- Routes -->
        <div class="col-lg-4 col-sm-8">
          <i>
            <h3>
              <b>R</b>OUTES<b>:</b>
            </h3>
          </i>
          <%= select("end_route", "start_route", Travel.all.collect{ |x| "#{x.start_route} - #{x.end_route}" }, {:prompt => 'All Routes'},{:class => "chosen-select", :multiple => true, data: { placeholder: " Search Routes"} }) %>

        </div>
        <!-- interest -->
        <div class="col-lg-4 col-sm-8">
          <i>
            <h3>
              <b>I</b>NTEREST<b>:</b>
            </h3>
          </i>
          <%= select(":interest", "interest", Interest.all.collect(&:interest), {:prompt => "All Routes"}, {:class => "chosen-select", :multiple => true, data: { placeholder: " Select By Interest "} })%>
        </div>
        <!-- Time Slot -->
        <div class="col-lg-4 col-sm-8">
          <i>
            <h3>
              <b>T</b>IME
              <b>S</b>LOT<b>:</b>
            </h3>
          </i>
          <select data-placeholder=" Time Slot" class="chosen-select" multiple tabindex="1">
            <option value=""></option>
            <option value="Rise & Grind">Rise & Grind 8:00 - 10:00</option>
            <option value="Late Morning">Late Morning 10:00 - 12:00</option>
            <option value="Lunch Hour">12:00 - 14:00</option>
            <option value="Early Afternoon">14:00 - 16:00</option>
            <option value="Late Afternoon">16:00 - 18:00</option>
            <option value="After Work">18:00 - 20:00</option>
            <option value="Working Late">20:00 - 22:00</option>
          </select>
        </div>
        <!-- submit button -->
        <button type="submit" class="btn btn-danger search-btn">Search</button>
        <!-- end -->
      </fieldset>
    </form>
  </div>


</div>
<!-- end -->
<!-- card-title -->
<div class="card-container" id="card-container">

<br /><br />

  <div class="container-fluid">
    <div class="row">

  <div class="row card-row">
    <!-- start -->
    <% @users.each do |user| %>
    <% if !current_user.interesteds.include?(user) && !current_user.interestlist.include?(user) %>
    <!-- card -->
    <div class="col-xs-12 col-md-3 card-col">

      <div class="card hovercard">
        <div class="cardheader"></div>
        <div class="avatar">
          <%= image_tag("lordgaben.jpg") %>
        </div>
        <!-- info -->
        <div class="info">
          <div class="title">
            <a target="_blank" href="http://scripteden.com/"><%= user.first_name %>
              <%= user.last_name %></a>
          </div>
          <div class="desc">
            <b>Personal Description:</b>
            <%= user.personal_description %>
          </div>
          <!-- interests -->
          <% user.interests.each do |each_interest| %>
          <div class="desc">
            <b>Interest:</b>
            <%= each_interest.interest %>
          </div>
          <% end %>
          <!-- travel -->
          <% @travel.each do |each_travel| %>
          <% if each_travel.user_id === user.id %>
          <div class="desc">
            <b>Routes:</b>
            <%= each_travel.start_route %> - <%= each_travel.end_route %>
          </div>
          <% end %>
          <% end %>

          <%= form_for :Relationship, url: matches_path, method: :post do |f| %>
          <%= f.hidden_field :user ,value: user.id %>
          <%= f.submit 'Match & Chat', class: 'btn btn-danger btn-bottom' %>
          <% end %>

        </div>
      </div>
    </div>

    <% end %>
    <% end %>


      <% @users.each do |user| %>
      <div class="col-sm-4">

        <div class="card">
          <div class="card-block">
            <h4 class="card-title"><%= user.first_name %> <%= user.last_name %></h4>
            <p class="card-text">Personal Description: <%= user.personal_description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">  My interests are: <ul>
              <% user.interests.each do |each_interest| %>
              <li><%= each_interest.interest %></li>
                <% end %></ul></li>
            <li class="list-group-item">My travel routes are:<br /> <% @travel.each do |each_travel| %>
                  <% if each_travel.user_id === user.id %>
                  Start Station:
                  <%= each_travel.start_route%><br />
                  End Station:
                  <%= each_travel.end_route%><br />
                  MRT Line:
                  <%= each_travel.mrt_line%><br />
                  Timeslot:
                  <%= each_travel.timeslot%><br />
                    <% end %>
              <% end %></li>

          </ul>
          <div class="card-block">
            <%= form_for :Relationship, url: matches_path, method: :post do |f| %>
              <%= f.hidden_field :user ,value: user.id %>
              <%= f.submit 'Match & Chat', class: 'btn btn-danger' %>
            <% end %>
          </div>
        </div>

      </div>
      <% end %>

    </div>
  </div>


</div>

<!-- former codes -->
<!-- <div class="filter_options_container">

  <form class="filter_form" , method="get">
    <%= select("end_route", "start_route", Travel.all.collect(&:start_route), {:prompt => 'All Routes'}) %><br>
    <input type="submit" value="Filter"/>
  </form>

  <br><br>

  <form class="filter_form" , method="get">
    <% Interest.all.each do |i| %>
    <%= check_box_tag("interests_category[]", i.id) %>
    <%= i.interest %>
    <% end %>
    <input type="submit" value="Filter"/>
  </form>
</div> -->
