<%= render "partials/nav/views_commuters_nav"%>

<!-- search bar -->
<div class="views-container" id="search-container">
  <div class="row">
    <!-- Routes Form-->

    <!-- Interest form -->
    <div class="col-lg-4 col-sm-8">
      <%= form_for :interest , url:commuters_path do |f| %>
        <%= f.label "Interest"%>
        <%= f.collection_select :interest, Interest.all, :id, :interest, {prompt: "Select an Interest"}, {class: "chosen-select"}%>

        <%= f.submit "Search" %>
      <% end %>
    </div>
  </div>
</div>
    <!-- Timeslot -->


    <!-- End Form -->
  </div>
</div>
<!-- end -->
<!-- card-title -->
<div class="card-container" id="card-container">
  <div class="container-fluid">
    <div class="row">
      <div class="row card-row">
        <!-- start -->
        <% if @users %>
        <% @users.each do |user| %>
        <!-- card -->
        <div class="col-xs-12 col-md-3 card-col">
          <div class="card hovercard">
            <div class="cardheader"></div>
            <% if user.avatar %>
            <div class="avatar">
              <%= cl_image_tag(user.avatar, :width => 200, :height => 200, :crop => :fill, :gravity => :face, :radius => :max) %>
            </div>
            <% end %>
            <!-- info -->
            <div class="info">
              <!-- username -->
              <div class="title">
                <a target="_blank" href="http://scripteden.com/"><%= user.first_name %>
                  <%= user.last_name %></a>
              </div>
              <!-- list group -->
              <ul class="list-group desc">
                <!-- personal_description -->
                <li class="list-group-item">
                  <div class="row toggle" id="dropdown-detail-1" data-toggle="detail-1">
                    <div class="col-xs-10">
                      <b>Personal Description:</b>
                    </div>
                    <div class="col-xs-2">
                      <i class="fa fa-chevron-down pull-right"></i>
                    </div>
                  </div>
                  <div id="detail-1">
                    <hr></hr>
                    <div class="container">
                      <div class="col-md-3">
                        <p><%= user.personal_description %></p>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- routes -->
                <li class="list-group-item">
                  <div class="row toggle" id="dropdown-detail-2" data-toggle="detail-2">
                    <div class="col-xs-10">
                      <b>My travel routes are :</b>
                    </div>
                    <div class="col-xs-2">
                      <i class="fa fa-chevron-down pull-right"></i>
                    </div>
                  </div>
                  <div id="detail-2">
                    <hr></hr>
                    <div class="container">
                      <div class="col-md-3">
                        <% @travel.each do |each_travel| %>
                        <% if each_travel.user_id === user.id %>
                        Start Station:
                        <%= each_travel.start_route%><br/>
                        End Station:
                        <%= each_travel.end_route%><br/>
                        MRT Line:
                        <%= each_travel.mrt_line%><br/>
                        Timeslot:
                        <%= each_travel.timeslot%><br/>
                        <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- interests -->
                <li class="list-group-item">
                  <div class="row toggle" id="dropdown-detail-3" data-toggle="detail-3">
                    <div class="col-xs-10">
                      <b>My interest are :</b>
                    </div>
                    <div class="col-xs-2">
                      <i class="fa fa-chevron-down pull-right"></i>
                    </div>
                  </div>
                  <div id="detail-3">
                    <hr></hr>
                    <div class="list-container">
                      <% user.interests.each do |each_interest| %>
                      <div class="col-xs-10">
                        <p><%= each_interest.interest %></p>
                      </div>
                      <% end %>
                    </div>
                  </div>
                </li>

              </ul>

            </div>
            <%= form_for :Relationship, url: matches_path, method: :post do |f| %>
            <%= f.hidden_field :user ,value: user.id %>
            <%= f.submit 'Match & Chat', class: 'btn btn-danger btn-bottom' %>
            <% end %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
