<h1>Pages#view_commuters</h1>
<p>Find me in app/views/pages/view_commuters.html.erb</p>



<% @users = User.all %>
<% @users.each do |user| %>
  <%= user.first_name %><br/>
  <%= user.last_name %><br/>
  <%= user.email %><br/>
  <%= user.address %><br/>
  <%= user.personal_description %><br/>
<% end %>
