

<h1>Pages#view_commuters</h1>
<p>Find me in app/views/pages/view_commuters.html.erb</p>

<div class="filter_options_container">

  <form class="filter_form", method="get">
    <%= select("end_route", "start_route", Travel.all.collect(&:start_route), {:prompt => 'All Routes'}) %><br>
    <input type="submit" value="Filter" />
  </form>

  <br><br>

  <form class="filter_form", method="get">
    <% Interest.all.each do |i| %>
        <%= check_box_tag("interests_category[]", i.interest) %>
        <%=h i.interest %>
    <% end %>
    <input type="submit" value="Filter" />
  </form>
</div>


<% @users = User.all %>
<% @users.each do |user| %>
<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= user.first_name %> <%= user.last_name %></h4>
    <h6 class="card-subtitle mb-2 text-muted"><%= user.email %></h6>
    <p class="card-text">Personal Description: <%= user.personal_description %></p>
    <a href="#" class="card-link">I'm Interested</a>
  </div>
</div>
<% end %>
