<%= render "partials/nav/views_commuters_nav"%>

<!-- search bar -->
<div class="views-container" id="search-container">
  <div class="row">
    <!-- Routes Form-->
    <div class="col-lg-4 col-sm-8">
      <form class="filter_form" , method="get">
        <fieldset>
          <i>
            <h3>
              <b>R</b>OUTES<b>:</b>
            </h3>
          </i>
          <%= select("end_route", "start_route", Travel.all.collect{ |x| "#{x.start_route} - #{x.end_route}" }, {:prompt => 'All Routes'},{:class => "chosen-select", :multiple => true, data: { placeholder: " Search Routes"} }) %>
          <!-- submit button -->
          <button type="submit" class="btn btn-danger search-btn" value="Filter">Search</button>
        </fieldset>
      </form>
    </div>
    <!-- Interest form -->
    <div class="col-lg-4 col-sm-8">
      <form class="filter_form" , method="get">
        <fieldset>
          <i>
            <h3>
              <b>I</b>NTEREST<b>:</b>
            </h3>
          </i>
          <%= select(":interest_category", "interest", Interest.all.collect(&:interest), {:prompt => "Interest"}, {:class => "chosen-select", :multiple => true, data: { placeholder: " Select By Interest"} })%>

          <!-- submit button -->
          <button type="submit" class="btn btn-danger search-btn" value="Filter">Search</button>
          <!-- end -->
        </fieldset>
      </form>
    </div>
    <!-- Timeslot -->
    <div class="col-lg-4 col-sm-8">
      <form class="filter_form" , method="get">
        <fieldset>
          <i>
            <h3>
              <b>T</b>IME
              <b>S</b>LOT<b>:</b>
            </h3>
          </i>
          <select data-placeholder=" Time Slot" class="chosen-select" multiple tabindex="1">
            <option value=""></option>
            <option value="Rise & Grind">Rise & Grind 8:00 - 10:00</option>
            <option value="Late Morning">Late Morning 10:00 - 12:00</option>
            <option value="Lunch Hour">12:00 - 14:00</option>
            <option value="Early Afternoon">14:00 - 16:00</option>
            <option value="Late Afternoon">16:00 - 18:00</option>
            <option value="After Work">18:00 - 20:00</option>
            <option value="Working Late">20:00 - 22:00</option>
          </select>
          <!-- submit button -->
          <button type="submit" class="btn btn-danger search-btn" value="Filter">Search</button>
          <!-- end -->
        </fieldset>
      </form>
    </div>
    <!-- End Form -->
  </div>
</div>
<!-- end -->
<!-- card-title -->
<div class="card-container" id="card-container">
  <div class="container-fluid">
    <div class="row">
      <div class="row card-row">
        <!-- start -->
        <% if @users %>
        <% @users.each do |user| %>
        <!-- card -->
        <div class="col-xs-12 col-md-3 card-col">
          <div class="card hovercard">
            <div class="cardheader"></div>
            <% if user.avatar_url %>
            <div class="avatar">
              <%= image_tag user.avatar_url(:display) %>
            </div>
            <% end %>
            <!-- info -->
            <div class="info">
              <!-- username -->
              <div class="title">
                <a target="_blank" href="http://scripteden.com/"><%= user.first_name %>
                  <%= user.last_name %></a>
              </div>
              <!-- list group -->
              <ul class="list-group desc">
                <!-- personal_description -->
                <li class="list-group-item">
                  <div class="row toggle" id="dropdown-detail-1" data-toggle="detail-1">
                    <div class="col-xs-10">
                      <b>Personal Description:</b>
                    </div>
                    <div class="col-xs-2">
                      <i class="fa fa-chevron-down pull-right"></i>
                    </div>
                  </div>
                  <div id="detail-1">
                    <hr></hr>
                    <div class="container">
                      <div class="col-md-3">
                        <p><%= user.personal_description %></p>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- routes -->
                <li class="list-group-item">
                  <div class="row toggle" id="dropdown-detail-2" data-toggle="detail-2">
                    <div class="col-xs-10">
                      <b>My travel routes are :</b>
                    </div>
                    <div class="col-xs-2">
                      <i class="fa fa-chevron-down pull-right"></i>
                    </div>
                  </div>
                  <div id="detail-2">
                    <hr></hr>
                    <div class="container">
                      <div class="col-md-3">
                        <% @travel.each do |each_travel| %>
                        <% if each_travel.user_id === user.id %>
                        Start Station:
                        <%= each_travel.start_route%><br/>
                        End Station:
                        <%= each_travel.end_route%><br/>
                        MRT Line:
                        <%= each_travel.mrt_line%><br/>
                        Timeslot:
                        <%= each_travel.timeslot%><br/>
                        <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- interests -->
                <li class="list-group-item">
                  <div class="row toggle" id="dropdown-detail-3" data-toggle="detail-3">
                    <div class="col-xs-10">
                      <b>My interest are :</b>
                    </div>
                    <div class="col-xs-2">
                      <i class="fa fa-chevron-down pull-right"></i>
                    </div>
                  </div>
                  <div id="detail-3">
                    <hr></hr>
                    <div class="list-container">
                      <% user.interests.each do |each_interest| %>
                      <div class="col-xs-10">
                        <p><%= each_interest.interest %></p>
                      </div>
                      <% end %>
                    </div>
                  </div>
                </li>

              </ul>

            </div>
            <%= form_for :Relationship, url: matches_path, method: :post do |f| %>
            <%= f.hidden_field :user ,value: user.id %>
            <%= f.submit 'Match & Chat', class: 'btn btn-danger btn-bottom' %>
            <% end %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
