<%= form_for interest_data do |i| %>
  <div class="field">
    Interest Category:
    <%= i.label :interest_category, class: 'label' %>
    <p class="control">
      <%= i.text_field :interest_category, class: 'input' %>
    </p>
  </div>

  <div class="field">
    Interest:
    <%= i.label :interest, class: 'label' %>
    <p class="control">
      <%= i.text_field :interest, class: 'input' %>
    </p>
  </div>

  <div class="field">
    <p class="control">
      <%= i.submit 'Submit', class: 'button is-primary' %>
    </p>
  </div>
<% end %>
