<%= render "partials/nav/interest_nav"%>

<!-- add div container by arif -->

<div class="interest-container">

  <!-- <section id="all-interest" class="section">
    <div class="container">
      <%= link_to "New Interest!!!!", new_interest_path, class: "button is-warning" %> -->

      <div class="columns">
        <% current_user.interests.each do |int| %>
        <div class="column">
          <p class="notification is-info">

            Interest Category: <%= int.interest_category %><br>
            Interest: <%= int.interest %><br>
            <%= link_to "Delete Interest",  interest_path(int.id), method: :delete , class: "btn btn-danger btn-sm" %>

          </p>
        </div>
        <% end %>
      </div>
    </div>
  </section>

</div>
