<!-- ADD NAV HERE FOR interest/:id -->

<section id="show-interests" class="section">
  <h1 class="title">

    Interest ID#<%= @individual_interest.id %>
    <%= @individual_interest.interest_category %>:<%= @individual_interest.interest %>

  </h1>

<%= link_to "Edit Interest", edit_interest_path, class: "button is-primary" %>

<br />
<br />

<%= form_for @individual_interest, method: :delete do |i| %>

  <%= i.submit 'Delete Interests', class: 'button is-primary' %>

<% end %>

  <pre>
    <%= params.inspect %>
    <%= @individual_interest.inspect %>
  </pre>
</section>
