<section id="show-interests" class="section">
  <h1 class="title">
    Route ID#<%= @individual_interest.id %>
    <%= @individual_interest.category %>-<%= @individual_interest.description %>
  </h1>

<%= link_to "Edit Interest", edit_interest_path, class: "button is-primary" %>

<br />
<br />

<%= form_for @individual_interest, method: :delete do |i| %>
  <%= i.submit 'Delete Interest', class: 'button is-primary' %>
<% end %>

  <pre>
    <%= params.inspect %>
    <%= @individual_interest.inspect %>
  </pre>
</section>
