<%= render "partials/nav/views_commuters_nav"%>
<% if @travel %>
<%= @travel.inspect %>
<% end %>

<!-- added div by arif -->
<div class="combo-container">

    <section id="all-combo" class="section">

        <div class="container">
            <%= link_to "New Combo", new_combo_path, class: "button is-warning" %>

            <div class="filter_options_container">

                <form class="filter_form" , method="get">
                    <% Interest.all.each do |i| %>
                    <%= check_box_tag("interest_id[]", i.id) %>
                    <%= i.interest %>
                    <% end %>
                    <input type="submit" value="Filter"/>
                </form>

                <form class="filter_form" , method="get">
                    <% Travel.all.each do |t| %>
                    <%= check_box_tag("mrt_line[]", t.mrt_line) %>
                    <%= t.mrt_line %>
                    <% end %>
                    <input type="submit" value="Filter"/>
                </form>

            </div>

            <br><br>

            <div class="columns">
                <% @all_combos.each do |combo| %>
                <div class="column">
                    <p class="notification is-info">

            <!-- match n chat form to submit -->
            <form class="filter_form" , method="post">
              <input type="submit" value="Match n Chat"/>
            </form>

            <!-- # post req will post to Relationship DB
            # Display results in matches page -->

          </p>
        </div>
        <% end %>

      </div>

                        <%= combo.user.first_name %>
                        <%= combo.user.last_name %>
                        <%= combo.interest.interest %>
                        <br/>
                        Personal Description:
                        <%= combo.user.personal_description %>
                        <br/>
                        Travel Start:
                        <%= combo.travel.start_route %><br/>
                        Travel End:
                        <%= combo.travel.end_route %><br/>
                        Timeslot:
                        <%= combo.travel.timeslot %><br/>


                    </p>
                </div>
                <% end %>

            </div>
        </div>
    </section>
</div>
