<%= render "partials/nav/views_commuters_nav"%>

<div class="combos-form">

  <section id="all-combo" class="section">

    <div class="container">
      <%= link_to "New Combo", new_combo_path, class: "button is-warning" %>

      <div class="filter_options_container">

        <form class="filter_form" , method="get">
          <%= select("travel_id", "start_route", Travel.all.collect(&:start_route), {:prompt => 'All Routes'}) %><br>
          <input type="submit" value="Filter"/>
        </form>

        <br><br>

        <form class="filter_form" , method="get">
          <% Interest.all.each do |i| %>
          <%= check_box_tag("interest_id[]", i.id) %>
          <%=h i.interest %>
          <% end %>
          <input type="submit" value="Filter"/>
        </form>

      </div>

      <div class="columns">
        <% @all_combos.each do |combo| %>
        <div class="column">
          <p class="notification is-info">

            <%= combo.user.first_name %>
            <%= combo.user.last_name %>
            <%= combo.interest.interest %>
            <br/>
            Personal Description:
            <%= combo.user.personal_description %>
            <br/>
            Travel Start:
            <%= combo.travel.start_route %><br/>
            Travel End:
            <%= combo.travel.end_route %><br/>
            Timeslot:
            <%= combo.travel.timeslot %><br/>

          </p>
        </div>
        <% end %>

      </div>

    </div>

  </section>

</div>
