<!DOCTYPE html>
<html>
  <head>
    <title>Commuter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <!-- arif: ive set-up nav for each page in "partials/nav/_home_nav.html.erb" -->

    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="container">
          <%= yield %>
    </div>

  </body>


  <%= render "partials/footer/footer_layout"%>

</html>
