<!DOCTYPE html>
<html>
  <head>
    <title>Commuter</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- arif: ive set-up nav for each page in "partials/nav/_home_nav.html.erb" -->

    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <div class="container">
          <%= yield %>
    </div>

  </body>

  <footer class="" id="footer">

    <div class="footer-container">
      <div class="row">
        <div class="col-sm-7 footer-copyright">
          <h4><b>Commuter, Inc.</b><br></h4>
          <h4><b>Team:</b> Maria, Robin, Felix, Arif<br></h4>
          <h4>GA Singapore WDI 9</h4>
          <br>
        </div>
      </div>
    </div>

  </footer>
</html>
