<!DOCTYPE html>
<html>
    <head>
        <title>WdiProject3</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <header>
        <h1><i class="fa fa-subway" aria-hidden="true"></i> Commuter</h1>
        <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
        </p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="commuters">View Commuters</a></li>
            <li><a href="contact">Contact Us</a></li>
        </ul>
    </header>
    <body>
      <%= render "partials/nav" %>
      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>
        <%= yield %>
    </body>
    <footer>
        <ul>
            <li>About us</li>
            <li>Team</li>
            <li>Terms and conditions</li>
        </ul>
    </footer>
</html>
