<%= render "partials/nav/profile_nav"%>

<%= cl_image_tag(current_user.avatar, :width => 200, :height => 200, :crop => :fill, :gravity => :face) %>


<div class="profile-container">
  <div class="row">
    <div class="col-md-10 ">
      <!-- start form_for -->
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal", method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <fieldset>
        <!-- User Name -->
        <legend>Welcome
          <b>
            <i><%= @user.first_name %>
              <%= @user.last_name %></i>
          </b>
        </legend>
        <!-- first_name -->
        <div class="form-group">

          <%= f.label :first_name, class: "col-md-4 control-label" %>

          <div class="col-md-4">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <%= f.text_field :first_name, autofocus: true, class: "form-control input-md" %>
            </div>
          </div>

        </div>
        <!-- last_name -->
        <div class="form-group">

          <%= f.label :last_name, class: "col-md-4 control-label" %>

          <div class="col-md-4">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user-circle-o"></i>
              </div>
              <%= f.text_field :last_name, autofocus: true, class: "form-control input-md" %>
            </div>
          </div>

        </div>
        <!-- Upload Photo -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="Upload photo">Upload photo</label><br /><br />
          <div class="col-md-4">

          <%= f.file_field(:avatar) %>
          </div>
        </div>
        <!-- personal_description -->
        <div class="form-group">

          <%= f.label :personal_description, class: "col-md-4 control-label" %>

          <div class="col-md-4">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-info"></i>
              </div>
              <%= f.text_field :personal_description, autofocus: true, class: "form-control input-md" %>
            </div>
          </div>

        </div>
        <!-- Address -->
        <div class="form-group">

          <%= f.label :address, class: "col-md-4 control-label" %>

          <div class="col-md-4">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-address-card"></i>
              </div>
              <%= f.text_field :address, autofocus: true, class: "form-control input-md" %>
            </div>
          </div>

        </div>
        <!-- Email -->
        <div class="form-group">

          <%= f.label :email, class: "col-md-4 control-label" %>

          <div class="col-md-4">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-envelope"></i>
              </div>
              <%= f.text_field :email, autofocus: true, class: "form-control input-md" %>
            </div>
          </div>

        </div>
        <!-- password/confirmable -->
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for:
          <%= resource.unconfirmed_email %></div>
        <% end %>
        <!-- password -->
        <div class="form-group">

          <%= f.label :password, class: "col-md-4 control-label" %>

          <div class="col-md-4">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-unlock-alt"></i>
              </div>
              <%= f.password_field :password, autocomplete: "off", class: "form-control input-md", placeholder: "6 character's mininum" %>

            </div>
          </div>

        </div>
        <!-- confirm -->
        <div class="form-group">

          <%= f.label :password_confirmation, class: "col-md-4 control-label" %>

          <div class="col-md-4">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-unlock"></i>
              </div>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-md", placeholder: "retype password" %>
            </div>
          </div>

        </div>
        <!-- current password -->
        <div class="form-group">

          <%= f.label :current_password, class: "col-md-4 control-label" %>

          <div class="col-md-4">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-check-square-o"></i>
              </div>
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control input-md", placeholder: "type current password to Update!" %>
            </div>
          </div>

        </div>
        <!-- button -->
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4">

            <%= f.submit "Update", class: "btn btn-success" %>

          </div>
        </div>

      </fieldset>
      <% end %>
      <!-- delete btn -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4 del-col">

          <%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger del-btn"  %>

        </div>
      </div>
    </div>

</div>
</div>
